
$color-text-header: #EF9A9A;
$background-color-header:#f7f7f7;
$color-text-price: #EF9A9A;
$background-color-button: #8D6E63;
$color-text-button:#FFF3E0;
$background-color-badge:#D1C4E9;
$text-black:#333333;
$text-white:#ffffff;
$text-purple:#6c3483;
$bg-yellow:#EDDC7B;

